<div class="box" *ngIf="user">
    <ul>
        <li><h1 class="text-center">Setting</h1></li>
        <li><h2>{{user.username}}</h2></li>
        <li>
            <app-mat-form-field-input
                label="Username"
                [value]="user.username" (valueOutput)="user.username = $event"
                [disable]="true"
                [required]="true"
                [showCopyToClipboard]="false">
            </app-mat-form-field-input>
        </li>
        <li>
            <app-mat-form-field-input
                label="Email"
                [value]="user.email" (valueOutput)="user.email = $event"
                [showCopyToClipboard]="false"
                [showGenerateValue]="false"
                [showVisibleSwitch]="false">
            </app-mat-form-field-input>
        </li>
        <hr>
        <li>
            <button mat-raised-button color="primary" style="width: 50%;" (click)="save()" [disabled]="!isChange()">Save</button>
            <button mat-raised-button color="accent" style="width: 50%;" (click)="revert()" [disabled]="!isChange()">Revert</button>
        </li>
    </ul>
</div>