
<h1 mat-dialog-title>Item Detail</h1>
    <div mat-dialog-content>
        <ul class="item-body">
            <li>
                <app-mat-form-field-input
                    label="Item name"
                    [value]="item.name" (valueOutput)="item.name = $event"
                    [autoResize]="true"
                    [required]="true"
                    [showGenerateValue]="false"
                    [showVisibleSwitch]="false">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="URL"
                    [value]="item.url" (valueOutput)="item.url = $event"
                    [autoResize]="true"
                    [showGoto]="true"
                    [showGenerateValue]="false">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="Username"
                    [value]="item.username" (valueOutput)="item.username = $event"
                    [autoResize]="true">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="Password"
                    [value]="item.password" (valueOutput)="item.password = $event"
                    copyDisplayMessage="Password"
                    [switchVisibility]="false"
                    [autoResize]="true">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="Authenticator (key)"
                    [value]="item.authenticatorKey" (valueOutput)="item.authenticatorKey = $event"
                    copyDisplayMessage="Authenticator Key"
                    [switchVisibility]="false"
                    [autoResize]="true">
                </app-mat-form-field-input>
            </li>
            <li><label for="note">Note</label></li>
            <li><textarea id="note" cols="40" [rows]="getLineHeight(item.note)" [(ngModel)]="item.note"></textarea></li>
            <hr>
            <li>Custom Field</li>
            <li *ngFor="let itemStorage of item.itemStorages">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        <b>{{itemStorage.name}}</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>
                            <mat-form-field appearance="fill" [style.width.ch]="getSize(itemStorage.name)">
                                <mat-label>Key</mat-label>
                                <input matInput type="text" [(ngModel)]="itemStorage.name">
                                <button *ngIf="itemStorage.name" matSuffix mat-icon-button (click)="itemStorage.name=''">
                                  <mat-icon>close</mat-icon>
                                </button>
                                <app-copy-to-clipboard-util matSuffix [copyValue]="itemStorage.name" [displayMessage]="itemStorage.name"></app-copy-to-clipboard-util>
                            </mat-form-field>
                        </li>
                        <li>
                            <label for="value">Value</label>
                        </li>
                        <li>
                            <textarea id="value" cols="40" [rows]="getLineHeight(itemStorage.value)" [(ngModel)]="itemStorage.value"></textarea>
                        </li>
                        <li>
                            <button mat-raised-button color="primary" appCopyToClipboard [copyMessage]="'value'">Copy Value to clipboard</button>
                            <button mat-raised-button color="warn" (click)="itemStorage.value = ''">Clear</button>
                        </li>
                        <hr>
                        <li>
                            <button mat-raised-button color="warn" (click)="remove(itemStorage)">Delete</button>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </li>
            <li>
                <h2 style="margin-top: 5px;">Add</h2>
                <button mat-icon-button (click)="addField()"><mat-icon>add</mat-icon></button>
            </li>
        </ul>
    </div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="item" [disabled]="isChange() || !item.name">Save</button>
</div>