<div class="box">
    <form [formGroup]="changePasswordForm">
        <h1 class="text-center" *ngIf="error" style="color: red;">{{error}}</h1>
        <ul>
            <li>
                <app-mat-form-field-input
                    label="Old Password"
                    [value]="changePasswordForm.get('oldPassword')?.value" (valueOutput)="changePasswordForm.get('oldPassword')?.setValue($event)"
                    [required]="true"
                    [switchVisibility]="false"
                    [showGenerateValue]="false"
                    [showCopyToClipboard]="false">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="New Password"
                    [value]="changePasswordForm.get('newPassword')?.value" (valueOutput)="changePasswordForm.get('newPassword')?.setValue($event)"
                    [required]="true"
                    [switchVisibility]="false"
                    [showCopyToClipboard]="false">
                </app-mat-form-field-input>
            </li>
            <li>
                <app-mat-form-field-input
                    label="Re Enter New Password"
                    [value]="changePasswordForm.get('reNewPassword')?.value" (valueOutput)="changePasswordForm.get('reNewPassword')?.setValue($event)"
                    [required]="true"
                    [switchVisibility]="false"
                    [showCopyToClipboard]="false">
                </app-mat-form-field-input>
                <mat-error>{{changePasswordForm.getError('passwordNotMatch')}}</mat-error>
            </li>
            <li>
                <button mat-raised-button color="primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Change Password</button>
            </li>
        </ul>
    </form>
</div>