<div class="home">
  <div class="box" *ngIf="touchBar.displayMenu" [style.flex-grow]="+!touchBar.displayItemDetail">
      <ul>
          <li><h1>Filter</h1></li>
          <li>
            <app-mat-form-field-input
              label="Filter"
              [value]="filter" (valueOutput)="filter = $event"
              [width]="20"
              [styleWidth]="'100%'"
              [showCopyToClipboard]="false"
              [showGenerateValue]="false"
              [showVisibleSwitch]="false">
            </app-mat-form-field-input>
          </li>
          <hr>
          <li class="d-flex">
            <h1>Groups</h1>
            <button mat-icon-button (click)="addEmptyGroup()"><mat-icon style="margin-bottom: 7px;">add</mat-icon></button>
          </li>
          <li *ngIf="!filter">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                  <!-- This is the tree node template for leaf nodes -->
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <a mat-button (click)="selectFlatNode(node)">{{node.name}}</a>
                    <button mat-icon-button (click)="addGroup(node)"><mat-icon>add</mat-icon></button>
                  </mat-tree-node>
                  <!-- This is the tree node template for expandable nodes -->
                  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    
                    <a mat-button (click)="selectFlatNode(node)">{{node.name}}</a>

                    <button mat-icon-button (click)="addGroup(node)"><mat-icon>add</mat-icon></button>
                  </mat-tree-node>
                </mat-tree>
          </li>
          <li *ngIf="filter">
            <div *ngFor="let group of getFilterGroups()">
              <a mat-button (click)="selectGroupNode(group)">{{group.name}}</a>
            </div>
          </li>
          <hr>
          <li>
            <h1>Shared Group</h1>
          </li>
          <li *ngFor="let group of getFilterSharedGroup()">
            <a mat-button (click)="selectGroup(group)">{{group.name}}</a>
          </li>
      </ul>
  </div>

    <div *ngIf="touchBar.displayItemDetail" [style.flex-grow]="1">
        <app-home-detail [groupID]="selectedGroupID"></app-home-detail>
    </div>
</div>